.profile__edit-button {
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url(../../../sprint-4-images/Edit\ Button.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-self: baseline;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
    width: 18px;
    height: 18px;
    background-size: cover;
    }
}