.button:hover {
    opacity: 0.6;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 200px * 2);
    padding: 0;
    padding-top: 40px;
    margin: 0 auto;    
}

@media screen and (max-width: 1100px) {
    .profile {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 19px * 2);
    padding-top: 42px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
    flex-direction: column;
    align-items: center;
    width: calc(100% - 19px * 2);
    padding-top: 42px;
    }
}

.profile__box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__box {
    flex-direction: column;
    align-items: center;
    }
}

.profile__avatar {
    display: flex;
    width: 120px;
    height: 120px;
    z-index: 1;
    padding-right: 30px;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
    padding-right: 0;
    padding-bottom: 26px;
    }
}

.profile__info {
    display: flex;
    flex-direction: column;
    min-width: 336px;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__info {
    min-width: 282px;
    }
}


.profile__edit {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    margin: 0;
    padding-top: 22px;
}

@media screen and (max-width: 767px) {
    .profile__edit {
    justify-content: center;
    padding-top: 0px;
    }
}

.profile__title {    
    margin: 0;
    padding: 0;
    width: 294px;
    font-weight: 500;
    font-size: 42px;
    line-height: 39px;
    padding-right: 18px;
}

@media screen and (max-width: 767px) {
    .profile__title {    
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    width: 189px;
    }
}

.profile__edit-button {
    display: flex;
    align-self: flex-end;
    width: 24px;
    height: 24px;    
    background-image: url(./sprint-4-images/Edit\ Button.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-self: baseline;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {       
    width: 18px;
    height: 18px;
    background-size: cover;
    }
}

.profile__subtitle {
    margin: 0;
    padding-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 767px) {
    .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 36px;
    }
}

.profile__add-button {
    display: flex;
    width: 150px;
    height: 50px;
    justify-self: flex-end;
    align-self: center;
    background-image: url(./sprint-4-images/Add\ Button.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .profile__add-button {     
    width: 282px;
    height: 50px;
    background-image: url(./sprint-4-images/Add\ Button\ mobile.png);    
    }
}

.elements {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    width: calc(100% - 200px * 2);
    padding: 31px 0px 67px;
    margin: 0 auto;    
}

@media screen and (max-width: 767px) {
    .elements {
    flex-direction: column-reverse;
    padding: 0;
    padding-top: 16px;
    width: calc(100% - 19px * 2);
    }
}

.element {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 17px;
    padding-top: 20px;     
}

.element:nth-child(3n) {
    padding-left: 0;
}

@media screen and (max-width: 1279px) {
    .element:nth-child(3n) {
    padding-left: 17px;    
    }
}

@media screen and (max-width: 767px) {
    .element:nth-child(3n) {
    padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .element {
    padding-left: 0;
    }
}

.element__photo {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 767px) {
    .element__photo {
    width: 100%;
    min-width: 282px;
    object-fit: cover;
    }
}
    

.element__box {
    display: flex;
    min-height: 79px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin: 0;    
}

.element__group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 246px;
    max-width: 246px;
    min-height: 23px;
    margin: 0 auto;
    padding: 25px 15px 21px 21px;    

}

.element__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__icon {
    width: 22px;
    height: 19px;
    background-size: cover;
    padding-top: 5px;
}

.element__icon:hover {
    opacity: 0.5;
}

/*
.element__icon_active {
    background-color: black;    
}
*/

.footer {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 200px * 2);
    justify-content: flex-start;
}

@media screen and (max-width: 767px) {
    .footer {
    width: calc(100% - 19px * 2);
    padding: 48px 19px 36px;
    }
}

.footer__copyright {
    display: flex;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;   
}

@media screen and (max-width: 767px) {
    .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    }
}



.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0, .50);      
    display: none;
}

.popup_opened {
    display: flex;
}


.popup__close-button{
    display: flex;    
    top: -8px;
    right: -8px;;
    width: 32px;
    height: 32px;       
    background-image: url(./sprint-4-images/Close\ Icon.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer; 
    background-size: cover;
        

}

.popup__container {
    
    width: 430px;
    height: 330px;
    background: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    z-index: 3;
    display: flex;
    flex-direction: column;      
}

.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    height: 23px;
    margin: 0;
    padding: 34px 64px 54px 36px;
}

.popup__form {
    display: flex;
    width: calc(100% - 36px * 2);
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
    padding-bottom: 9px;
    border-width: 0 0 1px 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    background-color: transparent;
    border-color: rgba(0,0,0,.2);

}

.popup__form:focus {
    outline-color: transparent;
  }

.popup__save-button {
    display: flex;
    width: 358px;
    height: 50px;
    justify-self: flex-end;
    align-self: center;
    background-image: url(./sprint-4-images/Submit\ Button.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer; 
    background-size: cover;
    margin: 18px 36px 37px;
    
}

.popup__save-button:hover {
    opacity: 0.8;
}
