.profile__edit {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    
}

@media screen and (max-width: 767px) {
    .profile__edit {
    justify-content: center;
    padding-top: 0px;
    }
}