.profile__box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__box {
    flex-direction: column;
    align-items: center;
    }
}