.header__logo {
    display: flex;
    position: relative;
    width: 142px;
    height: 33px;
    z-index: 1;
    padding-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
    width: 104px;
    height: 25px;
    padding-bottom: 28px;
    padding-left: 27px;
    }
}