.profile__add-button {
    display: flex;
    width: 150px;
    height: 50px;
    justify-self: flex-end;
    align-self: center;
    background-image: url(../../../sprint-4-images/Add\ Button.png);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
    width: 282px;
    height: 50px;
    background-image: url(../../../sprint-4-images/Add\ Button\ mobile.png);
    background-position: center;
    box-sizing: border-box;
    }
}