.elements {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    margin: 0 auto;
    padding: 0;
    padding-top: 51px;
    padding-bottom: 67px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
    .elements {
    max-width: calc(100% - 38px);
    grid-template-columns: repeat(2, 282px);
    }
}


@media screen and (max-width: 767px) {
    .elements {
    grid-template-columns: 282px;
    padding-top: 36px;
    padding-bottom: 48px;
}
}