.elements {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    width: 100%;
    padding: 31px 0px 67px;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .elements {
    flex-direction: column-reverse;
    padding: 0;
    padding-top: 16px;
    width: calc(100% - 19px * 2);
    }
}