.element__delete-icon {
    position: absolute;
    right: 20px;
    top: 39px;
    min-width: 18px;
    height: 19px;
    background-image: url(../../../sprint-4-images/Trash\ Icon.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;


}