.popup__close-button {
    position: relative;
    top: -8px;
    right: -238px;
    width: 32px;
    height: 32px;
    background-image: url(../../../sprint-4-images/Close\ Icon.svg);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
    width: 20px;
    height: 20px;
    top: -16px;
    right: -132px;
    }
}