.element__icon {
    width: 22px;
    height: 19px;
    background-image: url(../../../sprint-4-images/like.svg);
    background-size: cover;
    background-color: transparent;
    border: none;
    padding-top: 5px;
    align-self: center;
}

.element__icon:hover {
    opacity: 0.5;
}

/*
.element__icon_active {
    background-color: black;
}
*/