.footer {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: flex-start;
    max-width: 880px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .footer {
    width: calc(100% - 19px * 2);
    padding: 48px 19px 36px;
    }
}