.element__photo {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

@media screen and (max-width: 767px) {
    .element__photo {
    width: 100%;
    min-width: 282px;
    }
}